/* 
    Document   : login
    Created on : 30 janv. 2015, 10:48:10
    Author     : Jugo
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    background-color: #ECF3FD;
}

.conteiner{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    font-size: 85%;
}

.ui-state-default .icon-login{
    background-image: url(../images/login.png)
    
}

